<div class="container-fluid mt-3 dashboarddiv">
    <h1 class="text-center fw-bolder pt-5 animate__animated animate__fadeInDown">WELCOME TO BOOK STALL</h1>
    <div class="mt-5 row d-flex mb-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p class="dashboardContent">
                Reading is more than just deciphering words; it’s a gateway to knowledge, creativity, and emotional depth. Through reading, people can travel across time and space, explore different cultures, and delve into the minds of characters, authors, and thinkers. It stimulates the brain, enhancing cognitive functions like memory and focus, and has been shown to reduce stress by providing an escape from daily routines.
            </p>
            <p class="dashboardContent">
                Different types of reading serve various purposes. Fiction encourages empathy by immersing readers in the lives and emotions of others, while non-fiction delivers facts, insights, and practical knowledge about real-world subjects. Reading scientific articles, essays, or educational books can spark curiosity, foster problem-solving skills, and enable lifelong learning.
            </p>
            <p class="dashboardContent">
                Reading also builds a strong foundation for language skills, as it expands vocabulary, improves grammar, and aids in language fluency. In children, regular reading is crucial for literacy development, helping them form connections between spoken and written language, while for adults, it remains a key tool for continuous self-improvement and mental agility.
            </p>
        </div>
        <div class="col-lg-2"></div>
        
    </div>
    <div class="justify-content-center align-items-center text-center pb-5">
        <button class="btn btn-dark rounded-5 fs-3 text-white mb-5" routerLink="/home">Explore</button>
    </div>
</div>